<div class="container">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>

    <h2> Articles in <%= @category.name %> </h2>
    <% if @articles.present? %>
        <% @articles.each do |article| %>
            <div>
                <p><%= link_to article.title, article_path(article) %></p>
            </div>
        <% end %>
    <% else %>
        <p>No Articles Found in this Category</p>
    <%end%>
    
    <% if @category.image.attached? %>
        <%= image_tag @category.image, width:"200px" %>
    <% end %>
    <ul>
    <li><%= link_to "Edit Category", edit_category_path(@category) %></li>
    <li><%= link_to "Destroy Category", category_path(@category), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>

    </ul>
    <footer>
        <%= link_to "Back to Categories", categories_path %>
    </footer>
</div>
