<div class='container'>
<% content_for :javascript do %>
    <script type="module">
      import "donation";
    </script>
  <% end %>

<h1>Support Our Blog</h1>
<%= form_with url: donations_path, method: :post, local: true, id: "payment-form" do |form| %>
  <%= form.hidden_field :csrf_token, value: form_authenticity_token %> <!-- Ensure the CSRF token is included -->

    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %> 

    <br>
    <br>

    <label for="amount">Donation Amount:</label> <br>
    <input type="number" name="amount" min="1" required />

    <br>
    <br>

    <div id="card-container">
        <label for="card-element">Credit or Debit Card:</label>
        <div id="card-element"><!-- Stripe will place the card input here --></div>
    </div>

    <br>
    <br>
    
    <%= check_box_tag(:recurring) %>
    <%= label_tag(:recurring, "Make this a monthly donation") %>

    <br>
    <br>

  <button type="submit">Donate</button>
<% end %>

    <%= link_to "View All Articles", articles_path %> |
    <%= link_to "View All Categories", categories_path %> |
    <%= link_to "View All Authors", authors_path %>
</div>