<% content_for :javascript do %>
  <script type="module">
    import "article";
  </script>
<% end %>

<div class='container'>

<h1><%= @article.title %></h1>

<div id="article-content">

  <p><%= @article.body %></p>

  <ul>
    <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy Article", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>

  </ul>


  <h2>Comments</h2>

  <div id="comments">
    <%= render @article.comments %>
  </div>

  <button id="load-comments" data-article="<%= @article.id %>">
  Load More Comments
  </button>

  <h2>Add a comment:</h2>
  <%= render "comments/form", article: @article %>
</div>

<br>

<button id="toggle-button">Toggle Details</button>

<br>

<%= link_to "Back to Articles", articles_path %>

</div>